{% extends 'base.html.twig' %}

{% block body %}
  <table>
    {% for value in rooms %}
      <tr>
        <td>{{ value.id }}</td>
        <td><a href="/delete-room/{{ value.id }}">Delete</a></td>
      </tr>
    {% endfor %}
  </table>
  <a href="/create-room">Create Room</a>
{% endblock %}